@import "../../styles/_colors";

.searchByIng {
  position: relative;
  width: 230px;
  position: relative;
  border: 2px solid $light-blue-5;
  border-radius: 4px;

  &__select,
  &__search {
    outline: none;
    border: none;
    height: 46px;
    width: 100%;
    font-size: 1.1rem;
  }

  &__search {
    box-sizing: border-box;
    background: transparent;
    color: white;
    padding-left: 5px;
  }

  &__select {
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 2px;

    option {
      background: black;
      color: white;
    }
  }

  .chosenIngredients {
    position: absolute;
    top: 50px;
    left: 0;
    height: 200px;
    width: 100%;
    z-index: 2;
    overflow: auto;

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;
      background-color: $gray-5;
      cursor: pointer;
    }
    &__element {
      padding: 7px 10px;
    }

    &__element:hover {
      background-color: $light-blue-5;
    }
  }
}

@media (min-width: 768px) {
  .searchByIng {
    margin: 0;
  }
}
