@import "colors";

@mixin gradientAnimation {
  background: $light-blue-10;
  background: linear-gradient(90deg, $light-blue-10 0%, $light-pink-10 95%);
  animation: gradientAnimation 5s linear infinite;
  background-size: 200% 200%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@mixin gradientB {
  background: $light-pink-10;
  background: linear-gradient(90deg, $light-pink-10 0%, $light-blue-10 95%);
}
